/* fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    z-index: 1000;
}

header img{
    width: 200px;
}

.icon, a{
    font-size: 1.1rem;
    color: white;
}

.header-link{
    display: flex;
    gap: 20px;
}

.btn-header, a{
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.btn-header{
    background-color: white;
}

/* Isso aqui coloca uma bordinha mais bonita e elegante no header do site */
header::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: 0.10px;
    background-color: #666666;
}

/* ___________________________________________________________________________________________________________ */

body{
    background-color: black;
    font-weight: bolder;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 150px;
    padding-top: 100px;
}

.lanaGifs{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px
}

.navigation img{
    width: 100%;
    max-width: 400px;
    justify-content: end;
}

.button:hover{
    color: black;
    background: white;
}

.navigation{
    z-index: 8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

/* fornulário */

.navigation, .form{
    text-align: left;
}

h2{
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: white;
}

.form, .form-group{
    margin-bottom: 1.25rem;
}

.form label{
    display: block;
    margin-bottom: 0.5rem;
    color: #ccc;
    font-weight: 400;
    font-size: 0.9rem;
}

.form input{
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid #696969;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    line-height: normal;
}

.form input:focus{
    outline: none;
    border-color: #808080;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}

/* deixa o icone da data branco */
.form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.9); 
  opacity: 0.8;
  cursor: pointer;
  padding-left: 5px; 
}


/* códigos pra mudar a cor do mm/dd/yy da data*/
.form input[type="date"]::-webkit-datetime-edit-text,

.form input[type="date"]::-webkit-datetime-edit-month-field,

.form input[type="date"]::-webkit-datetime-edit-day-field,

.form input[type="date"]::-webkit-datetime-edit-year-field {
  color: #999;
}

.form button{
    width: 100%;
    padding: 0.85rem 1.25rem;
    margin-top: 1rem;
    font-size: 1rem;
}

a{
    color: white;
    justify-content: center;
}

/* php */
/* ___________________________________________________________________________________________________________ */

.cadConcluido{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.loginLink{
    color: black;
}