<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ultraviolence</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="style/index.css" rel="stylesheet" type="text/css" media="all">
</head>


<body class="bg-black text-white">

    <main>
        <div class="welcome w-full min-h-screen flex text-center bg-cover bg-center bg-fixed"></div>

        <div class="logo w-full min-h-[60vh] bg-black bg-no-repeat bg-contain bg-center"></div>

        <div class="jacare second w-full flex items-center justify-center bg-cover
         bg-center bg-fixed flex-row gap-6 h-[1200px]">

            <div class="center flex max-w-xs flex-col items-center rounded-lg text-center text-white bg-black bg-opacity-30 backdrop-blur-md">

                <div class="btd w-[90%] h-52 bg-cover bg-center mt-5 rounded-md"></div>

                <div class="card">
                    <h3 class="font-bold text-2xl mt-4">We are born to die</h3>
                    <p class="max-w-[52ch] leading-normal p-4 text-justify">
                        "Ouvir um álbum da Lana Del Rey é uma pausa para contemplação, e essa experiência se torna única
                        a cada faixa. Suas melodias criam uma atmosfera poética e envolvente, onde as emoções dançam com
                        as palavras, transformando o simples ato de escutar em um ritual de introspecção, liberdade e
                        beleza melancólica."
                    </p>
                    <a class="nav-link inline-block text-white no-underline text-lg font-bold py-2 px-4 rounded-lg bg-black/70 m-2.5 transition-colors hover:bg-white hover:text-black"
                        href="/register">Aprecie</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="w-full min-h-[60vh] bg-black">
        <!-- Ainda precisa saber o que será posto nesse rodapé
         tipo o link dos nossos github, por ex, oq acha? -->
    </footer>

</body>

</html>