<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Norman F*cking Rockwell</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="style/catalog.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="bg-black text-white font-bold">

    <nav x-data="{ isMenuOpen: false }"
        class="custom-navbar fixed top-0 left-0 w-full py-2.5 px-5 flex justify-center z-50 bg-black bg-opacity-30 backdrop-blur-md">

        <div class="navbar-container w-full max-w-6xl flex justify-between items-center flex-wrap">

            <a class="navbar-brand" href="/">
                <img src="https://www.dafont.com/forum/attach/orig/3/8/388253.jpg" alt="Ícone" class="w-52">
            </a>

            <button id="menu-toggle" type="button" @click="isMenuOpen = !isMenuOpen" :aria-expanded="isMenuOpen"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm 
                text-white rounded-md md:hidden hover:bg-neutral-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-neutral-800" aria-controls="mobile-menu">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>

            <div class="navbar-links w-full md:flex md:w-auto md:items-center" id="mobile-menu"
                :class="{'hidden': !isMenuOpen}">

                <ul class="flex flex-col w-full mt-4 font-medium md:flex-row md:gap-5 md:mt-0 md:w-auto">
                    <li>
                        <a class="nav-link block text-white no-underline text-lg font-bold py-2 px-4 rounded-md transition-colors duration-300 hover:bg-neutral-800 md:text-left text-center"
                            href="/store">Catálogo</a>
                    </li>
                    <li>
                        <a class="nav-link block text-white no-underline text-lg font-bold py-2 px-4 rounded-md transition-colors duration-300 hover:bg-neutral-800 md:text-left text-center"
                            href="/register">Cadastre-se</a>
                    </li>
                    <li>
                        <a class="nav-link block text-white no-underline text-lg font-bold py-2 px-4 rounded-md transition-colors duration-300 hover:bg-neutral-800 md:text-left text-center"
                            href="/readUser">Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="pt-[60px]">

        <div class="album w-full min-h-screen flex text-center bg-cover bg-center bg-fixed">
            <h1
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-30 text-white text-center opacity-0 animate-fadeIn text-3xl sm:text-4xl md:text-5xl md:whitespace-nowrap">
                Norman F***king Rockwell
            </h1>
        </div>

        <div class="liner-notes w-full min-h-[50vh] p-8 md:p-16 text-center flex flex-col justify-center items-center">
            <p class="text-xl md:text-2xl max-w-3xl text-neutral-300 leading-relaxed">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sapiente similique minima, laudantium
                dolor perferendis numquam debitis aut quasi amet nam tempore! Aliquam dolor repellat recusandae beatae,
                ullam iste expedita?
                <!-- adicionar um link com uma img sgv pro spotify -->
            </p>
        </div>

        <div class="carousel bg-white w-full flex items-center justify-center bg-cover
         bg-center bg-fixed flex-row gap-6 py-16 md:py-24">
            <!-- perguntar pro alex sobre aquela cor q ele gosta -->

            <div class="relative w-full max-w-4xl mx-auto" x-data="{ currentSlide: 0, slides: 4 }">
                <div class="relative overflow-hidden h-64 md:h-96 rounded-lg">
                    <!-- adicionar um form hiden em cada imagem pra enviar os produtos pro banco -->

                    <div x-show="currentSlide === 0"
                        class="absolute inset-0 transition-opacity duration-500 ease-in-out">
                        <img src="https://images.squarespace-cdn.com/content/v1/59e4d7048c56a80fde553a0b/1602085837075-RAPAH4JZNA0TLR8L9PZQ/LDR+Vinyl+spread+outer.jpg?format=2500w"
                            class="w-full h-full object-cover" alt="nfr vinyl">
                    </div>
                    <div x-show="currentSlide === 1"
                        class="absolute inset-0 transition-opacity duration-500 ease-in-out">
                        <img src="https://i5.walmartimages.com/seo/Lana-Del-Rey-Norman-Rockwell-Tour-T-Shirt-Merch-Casual-Short-Sleeved-T-Shirt-Unisex-TShirt_1bd0bb52-dcda-4c88-89ec-4825802e8752.41cdee99c8a50322fadbf325404bfb3f.jpeg"
                            class="w-full h-full object-cover" alt="nfr t-shirt">
                    </div>
                    <div x-show="currentSlide === 2"
                        class="absolute inset-0 transition-opacity duration-500 ease-in-out">
                        <img src="https://files.thefacecdn.com/images/_1200x630_crop_center-center_82_none/lanadelpresssotCredit-Pamela-Cochrane.jpeg?mtime=1567426600"
                            class="w-full h-full object-cover" alt="nfr jacket">
                    </div>
                    <div x-show="currentSlide === 3"
                        class="absolute inset-0 transition-opacity duration-500 ease-in-out">
                        <img src="https://yescharlierecords.com/cdn/shop/files/nfr_uo_pink_vinyl.jpg?v=1751797152"
                            class="w-full h-full object-cover" alt="nfr pink vinyl">
                    </div>
                </div>

                <!-- botões pra mudar a imagem  -->
                <button @click="currentSlide = (currentSlide - 1 + slides) % slides"
                    class="absolute top-1/2 left-0 z-40 p-4 -translate-y-1/2 text-white hover:text-neutral-300 transition">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
                        </path>
                    </svg>
                </button>
                <button @click="currentSlide = (currentSlide + 1) % slides"
                    class="absolute top-1/2 right-0 z-40 p-4 -translate-y-1/2 text-white hover:text-neutral-300 transition">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </button>

                <!-- indicadores das imagens (bolinhas e tals) -->
                <div class="absolute bottom-5 left-1/2 z-40 flex -translate-x-1/2 space-x-2">
                    <template x-for="i in slides">
                        <button @click="currentSlide = i - 1"
                            :class="{'bg-white': currentSlide === i - 1, 'bg-neutral-500': currentSlide !== i - 1}"
                            class="w-3 h-3 rounded-full transition"></button>
                    </template>
                </div>
            </div>

    </main>

    <footer class="w-full bg-black">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, amet aperiam! Maxime cumque perferendis quo eum
            aut? Ratione cumque voluptatum mollitia deleniti odio debitis, minima asperiores repellendus, laudantium
            quibusdam deserunt!</h1>
    </footer>

    <script src="//unpkg.com/alpinejs" defer></script>
    <!-- adicionando uma pequena biblioteca em JS pra ajudar o tailwind a fazer o carrossel -->
</body>

</html>