<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro - Ultraviolence</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="style/registerLogin.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="bg-black text-white font-bold">

<nav x-data="{ isMenuOpen: false }"
     class="custom-navbar fixed top-0 left-0 w-full py-2.5 px-5 flex justify-center z-50 bg-black bg-opacity-30 backdrop-blur-md">
    
    <div class="navbar-container w-full max-w-6xl flex justify-between items-center flex-wrap">
        
        <a class="navbar-brand" href="/">
            <img src="https://www.dafont.com/forum/attach/orig/3/8/388253.jpg" alt="Ícone" class="w-52">
        </a>

        <button id="menu-toggle" type="button" 
                @click="isMenuOpen = !isMenuOpen"
                :aria-expanded="isMenuOpen"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm 
                       text-white rounded-md md:hidden 
                       hover:bg-neutral-800 hover:text-white 
                       focus:outline-none 
                       focus:ring-2 
                       focus:ring-neutral-800" 
                aria-controls="mobile-menu">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>

        <div class="navbar-links w-full md:flex md:w-auto md:items-center" id="mobile-menu"
             :class="{'hidden': !isMenuOpen}">

            <ul class="flex flex-col w-full mt-4 font-medium md:flex-row md:gap-5 md:mt-0 md:w-auto">
                <li>
                    <a class="nav-link block text-white no-underline text-lg font-bold py-2 px-4 rounded-md transition-colors duration-300 hover:bg-neutral-800 md:text-left text-center"
                        href="/store">Catálogo</a>
                </li>
                <li>
                    <a class="nav-link block text-white no-underline text-lg font-bold py-2 px-4 rounded-md transition-colors duration-300 hover:bg-neutral-800 md:text-left text-center"
                        href="/register">Cadastre-se</a>
                </li>
                <li>
                    <a class="nav-link block text-white no-underline text-lg font-bold py-2 px-4 rounded-md transition-colors duration-300 hover:bg-neutral-800 md:text-left text-center"
                        href="/readUser">Clientes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <main class="flex flex-col justify-center min-h-screen text-center pt-[100px] pb-12 px-4 md:px-24 lg:px-[150px]">

        <div class="navigation z-8 grid grid-cols-1 md:grid-cols-2 items-center gap-12 p-8 text-left">

            <div class="lanaGifs w-full py-1.5 flex flex-col items-center mb-4 gap-y-4">

                <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExamh3cGtidmt2cmM4aDVkbDhpaXc1eGZlYXJ1N2Y1bnVpbHhrM3BvMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3osBLqF9kpJdlZm8vu/giphy.gif"
                    alt="spinning around" class="w-full max-w-sm">
                <img src="https://i.pinimg.com/originals/e4/6b/ab/e46babfcb7ac9f6da87bf9b10a548618.gif"
                    alt="trees in WC clip" class="w-full max-w-sm">
                <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdG82YnVqNDY5YWgybXcxNjcydmczdWFuaTZrNGJ0OTlwd3N3NzBmaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3osBLfiraFFV6QHY8U/giphy.gif"
                    alt="lana with her lover" class="w-full max-w-sm">

                <a href="/login" class="text-white hover:underline mt-4">Já tem cadastro? Faça o login.</a>
            </div>

            <div class="form">

                <h2 class="text-2xl mb-6 text-white">Crie seu cadastro</h2>
                <form method="POST">

                    <div class="form-group mb-5">
                        <label for="nome" class="block mb-2 text-gray-400 font-normal text-sm">Nome Completo:</label>

                        <input type="text" id="nome" name="nome" required class="w-full py-3 px-4 rounded-lg text-white text-base transition duration-300 ease-in-out 
                          border border-white/20 bg-black bg-opacity-30 backdrop-blur-md
                          focus:outline-none focus:border-white/60 focus:ring-2 focus:ring-white/30">
                    </div>

                    <div class="form-group mb-5">
                        <label for="cpf" class="block mb-2 text-gray-400 font-normal text-sm">CPF:</label>
                        <input type="text" id="cpf" name="cpf" required class="w-full py-3 px-4 rounded-lg text-white text-base transition duration-300 ease-in-out 
                          border border-white/20 bg-black bg-opacity-30 backdrop-blur-md
                          focus:outline-none focus:border-white/60 focus:ring-2 focus:ring-white/30">
                    </div>

                    <div class="form-group mb-5">
                        <label for="email" class="block mb-2 text-gray-400 font-normal text-sm">Email:</label>
                        <input type="email" id="email" name="email" required class="w-full py-3 px-4 rounded-lg text-white text-base transition duration-300 ease-in-out 
                          border border-white/20 bg-black bg-opacity-30 backdrop-blur-md
                          focus:outline-none focus:border-white/60 focus:ring-2 focus:ring-white/30">
                    </div>

                    <div class="form-group mb-5">
                        <label for="senha" class="block mb-2 text-gray-400 font-normal text-sm">Senha:</label>
                        <input type="password" id="senha" name="senha" required class="w-full py-3 px-4 rounded-lg text-white text-base transition duration-300 ease-in-out 
                          border border-white/20 bg-black bg-opacity-30 backdrop-blur-md
                          focus:outline-none focus:border-white/60 focus:ring-2 focus:ring-white/30">
                          <!-- seria massa ter um HASH nessa senhra, o que acha? -->
                    </div>

                    <button type="submit" class="button w-full py-3.5 px-5 mt-4 text-base rounded-lg border border-white/80 bg-black bg-opacity-30
                     backdrop-blur-md text-white transition-colors duration-300 hover:bg-white hover:text-black">
                        Criar Conta
                    </button>
                </form>
            </div>
        </div>
        </div>
    </main>

    <script src="//unpkg.com/alpinejs" defer></script>

</body>
</html>